<section style="background-image: url('assets/images/bg.webp');">
  <div class="container">
    <header>
      <h1>Innova<span>Tube</span></h1>
      <ul>
        <li *ngIf="user?.name">{{ `${user.name +' '+user.lastName}` }}</li>
        <li>
          <button mat-icon-button class="sesion-button">
            <mat-icon (click)="goToLogin()">person</mat-icon>
          </button>
        </li>
      </ul>
    </header>

    <div class="banner-container">
      <div class="banner">
        <h1>InnovaTube</h1>
        <p>Bienvenido a Innovatube, prueba realizada para corporativo Castores, espero cumpla sus expectativas!.</p>
        <button>Descubrir contenido</button>
      </div>
    </div>

  </div>
</section>

<div class="separator"></div>

<div class="search-container">
  <mat-form-field class="example-full-width">
    <input
    matInput
    placeholder="Busca un vídeo!"
    value="Tecnología"
    [(ngModel)]="searchQuery"
    (keyup.enter)="onSearch()">
  </mat-form-field>
  <button mat-fab>
    <mat-icon>search</mat-icon>
  </button>
</div>

<!-- <div class="video-list">
  <mat-card class="video-card" appearance="outlined" *ngFor="let video of videos">
  <iframe
      [src]="'https://www.youtube.com/embed/' + video.id + '?controls=0&modestbranding=0&rel=0&fs=0' | safe"
      allowfullscreen
  ></iframe>
  <mat-card-content class="content">
    <div class="info">
      <h3>{{ video.title }}</h3>
    <p>{{ video.channel }}</p>
    <p>{{ video.publishedAt | date }}</p>
    </div>
    <button>
      <mat-icon>turned_in</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
</div> -->

